streamlit
openai
google-generativeai
faiss-cpu
python-dotenv
numpy
requests
rank-bm25
scikit-learn
networkx
matplotlib
tqdm
Pillow
pandas
ipywidgets
rdflib
spacy
pyvis
datasets
transformers
accelerate

